<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://uilogos.co/img/logomark/u-mark.png" alt="" width="auto"
            height="150">


    </div>
</body>

</html>